<%- include("../partials/header") %>

    <div class="search-form">
        <form action="/artworks?_method=SEARCH" method="post">
            <input type="text" name="search" placeholder="Search artworks..." aria-label="Search" required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
        <div class="artworks-container">
            <% if(artworks){
                artworks.forEach(art => { %>
                <div class="card">
                    <div class="card-img" style="background-image: url('<%=art.thumbnail%>');"></div>
                    <div class="card-author">
                        <div class="author-img" style="background-image: url('<%=art.author.avatar%>');"></div>
                        <h4><%=art.author.firstName + ' ' + art.author.lastName%></h4>
                    </div>
                    <div class="card-body">
                       <h3><%=art.title%></h3>
                        <p><%=art.desc.substring(0, 60)%>...</p>
                    </div>
                    <div class="more">
                        <a href="artworks/<%=art._id%>"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                    
                </div>
            <% }); } %>
        </div>

<%- include("../partials/footer") %>

