<%- include("partials/header") %>

        <div class="artworks-container">
            <% artworks.forEach(art => { %>
                <div class="card">
                    <div class="card-img" style="background-image: url('<%=art.thumbnail%>');"></div>
                    <div class="card-author">
                        <div class="author-img" style="background-image: url('<%=art.author.image%>');"></div>
                        <h4><%=art.author.name%></h4>
                    </div>
                    <div class="card-body">
                       <h3><%=art.title%></h3>
                        <p><%=art.desc%></p>
                    </div>
                    <div class="more">
                        <a href=""><i class="fas fa-angle-double-right"></i></a>
                    </div>
                    
                </div>
            <% }); %>
        </div>

<%- include("partials/footer") %>

