<%- include("../partials/header") %>

<% if(success && success.length > 0){ %>
    <div class="success">
        <i class="far fa-check-circle"></i>
        <%=success%>
    </div>
<% } %>
<div class="dashboard">
    <div class="user-card">
        <img src="<%=user.avatar%>" alt="">
        <div class="user-body">
            <div>
                <h4>Username:</h4>
                <h3><%=user.userName%></h3>
            </div>
            <div>
                <h4>Name:</h4>
                <h3><%=user.firstName + ' ' + user.lastName%></h3>
            </div>
        </div>
    </div>
    <div class="user-artworks">
        <% if(artworks){
            artworks.forEach(art => { %>
            <div class="card">
                <div class="card-img" style="background-image: url('<%=art.thumbnail%>');"></div>
                <div class="card-body">
                   <h3><%=art.title%></h3>
                </div>
                <div class="more">
                    <a href="/artworks/<%=art._id%>"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        <% }); } %>
    </div>
</div>


<%- include("../partials/footer") %>
